body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #F67E7D 0%, #A06CD5 75%, #6247AA 100%);
    -webkit-animation: gradient 20s ease infinite;
    animation: gradient 20s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ripple div {
	position: absolute;
	border: 4px solid #cef;
	opacity: 1;
	border-radius: 50%;
	animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}