/* ======================== */
/* Main File Styles */
/* ======================== */
/* Standard Body */
body {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, var(--color-two) 0%, var(--color-three) 60%, var(--color-five) 100%);
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    -webkit-app-region: no-drag;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.hidden{
    display: none !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* ======================== */
/* Search Header Styles */
/* ======================== */

.search-header {
    font-size: 70px;
    color: rgb(255, 255, 255, 0.5);
}

/* ======================== */
/* Circle Button Styles */
/* ======================== */

.search-button {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 5px solid rgb(32, 1, 22, 0.70);
    background: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Pre-render the bigger shadow, but hide it */
.search-button::after {
    content: '';
    z-index: -1;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.search-button:hover {
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.search-button:hover::after {
    content: '';
    opacity: 1;
}

.search-button span {
    width: 100%;
    height: 100%;
    color: rgb(32, 1, 22, 0.75);
    align-items: center;
	border-radius: 40px;
	display: flex;
	justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%; 
    font-family: 'Source Sans Pro', sans-serif;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

/* ======================== */
/* Circle Loader Styles */
/* ======================== */

.circle-animation-container {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
}

.circle-animation-container > * {
    background-color: transparent;
    box-sizing: border-box;
    border:5px solid var(--color-four);
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-radius: 50%;
    position: absolute;
    animation: spin 4s infinite linear alternate;
}

.circle1 {
    width: 300px; height: 300px;
    animation-delay: -5s;    
    border-color: rgba(32, 1, 22, 1);
}
.circle2 {
    width: 280px; height: 280px;
    top:10px;left:10px;
    animation-delay: -4.9s;
    border-color: rgba(32, 1, 22, .95);
}
.circle3 {
    width: 260px; height: 260px;
    top:20px;left:20px;
    animation-delay: -4.8s;
    border-color: rgba(32, 1, 22, .9);
}
.circle4 {
    width: 240px; height: 240px;
    top:30px;left:30px;
    animation-delay: -4.7s;
    border-color: rgba(32, 1, 22, .85);
}
.circle5 {
    width: 220px; height: 220px;
    top:40px;left:40px;
    animation-delay: -4.6s;
    border-color: rgba(32, 1, 22, .8);
}
.circle6 {
    width: 200px; height: 200px;
    top:50px;left:50px;
    animation-delay: -4.5s;
    border-color: rgba(32, 1, 22, .75);
}
.circle7 {
    width: 180px; height: 180px;
    top:60px;left:60px;
    animation-delay: -4.4s;
    border-color: rgba(32, 1, 22, .7);
}
.circle8 {
    width: 160px; height: 160px;
    top:70px;left:70px;
    animation-delay: -4.3s;
    border-color: rgba(32, 1, 22, .65);
}
.circle9 {
    width: 140px; height: 140px;
    top:80px;left:80px;
    animation-delay: -4.2s;
    border-color: rgba(32, 1, 22, .6);
}
.circle10 {
    width: 120px; height: 120px;
    top:90px;left:90px;
    animation-delay: -4.1s;
    border-color: rgba(32, 1, 22, .55);
}
.circle11 {
    width: 100px; height: 100px;
    top:100px;left:100px;
    animation-delay: -4s;
    border-color: rgba(32, 1, 22, .5);
}
.circle12 {
    width: 80px; height: 80px;
    top:110px;left:110px;
    animation-delay: -3.9s;
    border-color: rgba(32, 1, 22, .45);
}
.circle13 {
    width: 60px; height: 60px;
    top:120px;left:120px;
    animation-delay: -3.8s;
    border-color: rgba(32, 1, 22, .4);
}
.circle14 {
    width: 40px; height: 40px;
    top:130px;left:130px;
    animation-delay: -3.7s;
    border-color: rgba(32, 1, 22, .35);
}
.circle15 {
    width: 20px; height: 20px;
    top:140px;left:140px;
    animation-delay: -3.6s;
    border-color: rgba(32, 1, 22, .3);
}
    
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);};
}